.bodyRe{
    margin: 10px 0 0 0 ;
    padding-top: 60px;
    padding-bottom: 50px;
    background-color: #e5edf5;
    border: 5px solid #c9c1d5;
    color: #5f5f5f;
    text-align: center;
    min-width: 100%;
    min-height: 100px;
}
.combofix{
    width: 100%;
}
.comment {
    min-width: 200px;
    min-height: 100px;
}

.fix-img {
    flex: 1;
    overflow-y: scroll;
    height: 100px;
    width: 100px;
    padding: 50px;
    position: relative;
    padding-bottom: 0em;
    padding-top: 1em;

  }

  .selectStyle {
    min-width: 100%;
    min-height: 100px;
  }